.container main .main-top {
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 15px;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.container main .main-top p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
  margin-bottom: 15px;
}
.container main .main-top p:first-child {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
  margin-bottom: 0;
}
.container main .main-top input {
  width: 695px;
  height: 34px;
  border-radius: 1px;
  border: 1px solid #e5e6e7;
  padding: 8px 13px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
}
.container main .main-top .input {
  display: flex;
  justify-content: space-between;
}
.container main .main-top button {
  width: 36px;
  height: 34px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border: 1px solid #eeeeee;
}
.container main .main-top select {
  width: 200px;
  height: 34px;
  border: 1px solid #eeeeee;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.57px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #555555;
  padding: 6px 12px;
  border-right: none;
}
.container main .main-top div select {
  width: 200px;
  height: 34px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 1px solid #eeeeee;
  appearance: none;
  color: #999999;
}
.container main .main-top div select[name="filter"] {
  color: #555555;
}
.container main .main-top div {
  display: flex;
}
.container main .main-bottom {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 0;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container main .main-bottom .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container main .main-bottom .list .box {
  height: 59.04999923706055px;
  flex-shrink: 0;
  flex: 1;
  padding: 10px;
  display: flex;
  border: 1px solid #eeeeee;
}
.container main .main-bottom .list .box:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
.container main .main-bottom .list .box div:first-child {
  width: 650px;
}
.container main .main-bottom .list .box table {
  border-collapse: collapse;
  width: 460px;
  table-layout: fixed;
}
.container main .main-bottom .list .box div:first-child p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 11.7px;
  line-height: 17.55px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
}
.container main .main-bottom .list .box div:first-child p:first-child {
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}
.container main .main-bottom .list .box table td {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 11.7px;
  line-height: 17.55px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #676a6c;
}
.container main .main-bottom .list .box table .stats {
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}
.container main .main-bottom .list .box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 18px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.4px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
}
.box:has(a) {
  padding: 15px 14px !important;
}
