.container main .main-content {
  box-shadow: none;
}
.container main .main-top {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  display: flex;
  gap: 30px;
}
.container main .main-top .box-left {
  padding: 30px 20px;
  background-color: #ffffff;
  width: 275px;
  height: 327px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.container main .main-top .box-left .box-top {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.container main .main-top .box-left .box-top div {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  align-items: center;
  padding: 6px 12.6px 6px 7px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #aaaaaa;
}
.container main .main-top .box-left .box-top div:first-child {
  width: 150.83999633789062px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px #dddddd;
  font-weight: 700;
  line-height: 16.5px;
  color: #ea9f77;
}
.container main .main-top .box-left .box-bottom {
  display: flex;
  justify-content: space-between;
  width: 108.43000030517578px;
  height: 27px;
  border-radius: 3px;
  border: 1px solid #f3f3f4;
  padding: 7px;
  padding-right: 6.8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 11.06px;
  line-height: 13px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
  background: none;
}
.container main .main-top .box-left .box-bottom img {
  width: 12px;
  height: 12px;
}
.container main .main-top .box-left .favourite {
  width: 143px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  display: flex;
  gap: 8px;
  padding-left: 13px;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 17.14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #676a6c;
  position: absolute;
  left: 0;
  bottom: calc(-25px - 32px);
}
.container main .main-top .box-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container main .main-top .box-right .box-top {
  padding: 20px 20px 15px;
  display: flex;
  justify-content: space-between;
  width: 885px;
  height: 75px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
  align-items: center;
}
.container main .main-top .box-right .box-top p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 11.81px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
}
.container main .main-top .box-right .box-top p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #676a6c;
}
.container main .main-top .box-right .box-top button {
  width: 73.91000366210938px;
  height: 34px;
  border-radius: 3px;
  background-color: #1ab394;
  border: 1px solid #1ab394;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.container main .main-top .box-right .box-bottom {
  width: 885px;
  top: 100px;
  left: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
  padding: 20px;
}
.container main .main-top .box-right .box-bottom p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
  margin-bottom: 22px;
}
.container main .main-top .box-right .box-bottom p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #676a6c;
  margin: 0;
}
.container main .main-top .box-right .box-bottom .input {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.container main .main-top .box-right .box-bottom .input div {
  display: flex;
}
.container main .main-top .box-right .box-bottom .input label {
  height: 41.5px;
  width: 200px;
  border: 1px solid #eeeeee;
  background-color: #fafafb;
  display: flex;
  align-items: center;
  padding-left: 11px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14.3px;
  line-height: 21.45px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
}
.container main .main-top .box-right .box-bottom .input input {
  width: 645px;
  border: 1px solid #eeeeee;
  border-left: none;
  padding: 10px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
}
.container main .main-top .box-right .box-bottom .input span {
  width: 40px;
  background-color: #fafafb;
  border: 1px solid #eeeeee;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container main .main-top .box-right .box-bottom .input .px61 label,
.container main .main-top .box-right .box-bottom .input .px61 input {
  height: 61px;
}
.container main .title {
  width: 1190px;
  height: 61px;
  top: 715px;
  left: 15px;
  border-radius: 5px;
  padding-top: 11px;
  padding-left: 15px;
  background-color: #1ab394;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
  margin-top: 25px;
  margin-bottom: 25.44px;
}
.container main .title p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 10.8px;
  line-height: 16.2px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}
.container main .title p:first-child {
  font-weight: 400;
  font-size: 16.9px;
  line-height: 25.35px;
}
.container main .main-bottom {
  display: flex;
  justify-content: space-between;
}
.container main .main-bottom .box-left .box-top {
  padding: 20px;
  background-color: #ffffff;
  width: 783.3300170898438px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
}
.container main .main-bottom .box-left .box-top p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
  margin-bottom: 15px;
}
.container main .main-bottom .box-left .box-top p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #676a6c;
  margin: 0;
}
.container main .main-bottom .box-left .box-top .content {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.container main .main-bottom .box-left .box-top .content div {
  border: 1px solid #eeeeee;
  height: 41.5px;
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #585858;
  padding-left: 11px;
  position: relative;
}
.container main .main-bottom .box-left .box-top .content .select::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 7px solid #ea9f77; /* màu góc */
  border-left: 7px solid transparent; /* tạo tam giác */
}
.container main .main-bottom .box-left .box-bottom {
  padding: 20px;
  width: 783.3300170898438px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
  margin-top: 25px;
  background-color: #ffffff;
}
.container main .main-bottom .box-left .box-bottom p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
}

.container main .main-bottom .box-left .box-bottom p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #676a6c;
}
.container main .main-bottom .box-left .box-bottom div {
  margin-top: 15px;
  display: flex;
  border: 1px solid #eeeeee;
}
.container main .main-bottom .box-left .box-bottom div label {
  width: 40px;
  background: #fafafb;
  border-right: 1px solid #eeeeee;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14.3px;
  line-height: 21.45px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container main .main-bottom .box-left .box-bottom div textarea {
  flex: 1;
  border: none;
  font-family: Open Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
  padding: 10.5px 10px 11px;
  overflow: hidden;
  resize: none;
}
.container main .main-bottom .box-right {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.container main .main-bottom .box-right .box-top {
  padding: 20px;
  background-color: #ffffff;
  width: 376.6600036621094px;
  height: 249px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
  position: relative;
}
.container main .main-bottom .box-right .box-top p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
}
.container main .main-bottom .box-right .box-top p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #676a6c;
}
.container main .main-bottom .box-right .box-top .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5.75px;
  margin-top: 15.75px;
  margin-bottom: 25px;
}
.container main .main-bottom .box-right .box-top .item .left-item {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #676a6c;
  display: flex;
  align-items: end;
}
.container main .main-bottom .box-right .box-top .item .right-item {
  display: flex;
  align-items: end;
  gap: 3px;
}
.container main .main-bottom .box-right .box-top .item .right-item span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
}
.container
  main
  .main-bottom
  .box-right
  .box-top
  .item
  .right-item
  span:first-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #676a6c;
}
.container main .main-bottom .box-right .box-top .box-circle {
  display: flex;
}
.container main .main-bottom .box-right .box-top .box-circle div {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #676a6c;
}
.container main .main-bottom .box-right .box-top .box-circle div div {
  width: 72.19999694824219px;
  height: 72.19999694824219px;
  border: 6px solid #f3f3f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 8.9px;
  margin-right: 8.4px;
}
.container main .main-bottom .box-right .box-top .box-circle .circle-fat {
  border-color: #db4965;
}
.container
  main
  .main-bottom
  .box-right
  .box-top
  .box-circle
  .circle-carbohydrate {
  border-color: #ea9f77;
}
.container main .main-bottom .box-right .box-top .box-circle .circle-protein {
  border-color: #1ab394;
}
.container main .main-bottom .box-right .box-top .box-circle .circle-fiber {
  border-color: #6a7d93;
}
.container main .main-bottom .box-right .box-top .box-circle div p {
  margin-top: 6.4px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #888888;
}
.container main .main-bottom .box-right .box-top .box-top-left {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ab394;
  box-shadow: 0px 2px 32px 0px #00000029;
  box-shadow: 0px 1px 6px 0px #0000000f;
  position: absolute;
  top: 30.56px;
  right: 4.99px;
}
.container main .main-bottom .box-right .box-mid {
  padding: 20px;
  background-color: #ffffff;
  width: 376.6600036621094px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
}
.container main .main-bottom .box-right .box-mid p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 11.81px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
  margin-bottom: 25.9px;
}
.container main .main-bottom .box-right .box-mid p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #676a6c;
  margin-bottom: 0px;
}
.container main .main-bottom .box-right .box-bottom {
  width: 376.6600036621094px;
  height: 777px;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px #9191911f;
  box-shadow: 0px 2px 2px 0px #90909024;
}
.container main .main-bottom .box-right .box-bottom p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #888888;
}
.container main .main-bottom .box-right .box-bottom p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #676a6c;
}
.container main .main-bottom .box-right .box-bottom ul {
  list-style: none;
}
.container main .main-bottom .box-right .box-bottom li {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  height: 28px;
  align-items: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #717171;
}
.container main .main-bottom .box-right .box-bottom li div {
  display: flex;
  gap: 2.64px;
}
.container main .main-bottom .box-right .box-bottom li div span:first-child {
  font-weight: 700;
}
.container main .main-bottom .box-right .box-bottom li:nth-child(even) {
  background-color: #fafafb;
}
